---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { SITE, HOME } from "@consts";
import ArrowCard from "@components/ArrowCard.astro";
import Link from "@components/Link.astro";
import { getCollection } from "astro:content";
import SocialIcons from "@components/SocialIcons.astro";

const blog = (await getCollection("blog"))
  .filter((post) => !post.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, SITE.NUM_POSTS_ON_HOMEPAGE);

---

<Layout title={HOME.TITLE} description={HOME.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <h1 class="animate font-semibold text-black dark:text-white">
        About me
      </h1>
      <div class="space-y-16">
        <section>
          <article class="space-y-4">
            <p>
              I'm Areel, a new grad from the University of Waterloo with a Bachelor of Mathematics. I currently work as a Software Engineer at <a href="https://fablesecurity.com/" target="_blank" rel="noopener">Fable Security</a>, where I'm building data pipelines and agentic systems.
            </p>
            <p>
              I've interned at <b>TD</b>, <b>Super</b>, <b>Hopper</b>, <b>Replicant</b>, <b>Trayd</b>, <b>Health Canada</b>, and the <b>University of Waterloo</b> doing data science, data engineering, software engineering, and machine learning research.
            </p>
            <p>
              Outside of work, I tinker with LLM security, red teaming, and jailbreak techniques. See <Link href="/blog">blogs</Link> for more details.
            </p>
          </article>
        </section>

        <hr class="border-gray-200 dark:border-gray-700" />

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Research and Engineering Interests
            </h2>
          </div>
          <ul class="not-prose flex flex-col gap-2">
            <li>Data pipelines</li>
            <li>Agentic Systems</li>
            <li>LLM safety alignment</li>
            <li>LLM red teaming</li>
          </ul>
        </section>
        
        <hr class="border-gray-200 dark:border-gray-700" />

        <section class="animate space-y-6">
          <div class="flex flex-wrap items-center justify-between gap-y-2">
            <h2 class="font-semibold text-black dark:text-white">
              Latest posts
            </h2>
            <Link href="/blog"> See all posts </Link>
          </div>
          <ul class="not-prose flex flex-col gap-4">
            {
              blog.map((post) => (
                <li>
                  <ArrowCard entry={post} />
                </li>
              ))
            }
          </ul>
        </section>

      </div>
    </aside>
  </Container>
</Layout>
