---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import AboutMe from '../components/AboutMe.astro';
import CurrentProjects from '../components/CurrentProjects.astro';
import RecentWriting from '../components/RecentWriting.astro';
---

<Layout title="Areel Khan">
  <main>
    <Hero />
    <AboutMe />
    <CurrentProjects />
    <RecentWriting />
  </main>
</Layout>
